<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">




    <provider
        android:name="com.server.appdocuments_model.businesslayer.bl_Errors.ContentProviderServer.ContentProviderServerWorkmanger"
        android:authorities="com.sous.server.providerserver"
        android:enabled="true"
        android:exported="true"
        android:grantUriPermissions="true"
        android:readPermission="true"
        android:writePermission="true"
        tools:ignore="WrongManifestParent" />
    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        android:enabled="true"
        android:exported="false"
        tools:node="merge"
        tools:ignore="WrongManifestParent" />
    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.workmanager-init"
        android:enabled="true"
        android:exported="false"
        tools:node="merge"
        tools:ignore="WrongManifestParent" />



</manifest>